<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../public/templates/home.html />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/vendor/bootstrap-theme.min.css" />
    <script type="text/javascript" src="../../public/js/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="../../public/js/vendor/angular-route.min.js"></script>
    <script type="text/javascript" src="../../public/js/app.js"/>
    <script type="text/javascript" src="../../public/js/controllers/todo-list-ctrl.js"/>
    <script type="text/javascript" src="../../public/js/services/todo-list-service.js"/>
</head>
<body ng-controller="mainCtrl">
    <ng-view/>
</body>
</html>